
@{
    Layout = null;
}
@RenderBody()
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EHR_Login</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="~/assets/css/Multi-Level-Navbar.css">
    <link rel="stylesheet" href="~/assets/css/Navigation-Menu.css">
    <link rel="stylesheet" href="~/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="~/assets/css/Sidebar-1.css">
    <link rel="stylesheet" href="~/assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="~/assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="~/assets/css/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="~/assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="~/assets/css/Sidebar.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/Vertical-Navigation-with-double-sub-menu--scroll-enable-by-Jigar-Mistry.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #060606;color: rgb(249,250,251);padding: 9px;">
        <div class="container-fluid">
            <div><a class="navbar-brand d-none" href="#"> </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <ul class="nav navbar-nav main-nav"
                style="margin: 16px;width: 1153px;height: 88px;">
                <li class="nav-item" role="presentation" style="padding: 15;"><a class="nav-link" id="home" style="color: #f9f7f7;padding: 20px;" href="#">Home </a></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item dropdown" style="margin: 13px;padding: -23px;">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="background-color: #0a0a0a;color: #f8f5f5;margin: -1px;width: 232px;padding: -14px;">Define Configuration&nbsp;</a>
                    <div class="dropdown-menu"
                         role="menu">
                        <a class="dropdown-item" role="presentation" href="#">Company</a><a class="dropdown-item" role="presentation" href="#">Location</a><a class="dropdown-item" role="presentation" href="#">Programs</a><a class="dropdown-item" role="presentation"
                                                                                                                                                                                                                                href="#">Services</a><a class="dropdown-item" role="presentation" href="#">Cost Center</a><a class="dropdown-item" role="presentation" href="#">RU Code Definition</a><a class="dropdown-item" role="presentation" href="#">Allowable Services</a>
                        <span class="dropdown-item-text" role="presentation">Text Item</span><span class="dropdown-item-text" role="presentation">Text Item</span>
                    </div>
                </li>
                <li class="nav-item dropdown" style="margin: 8px;padding: -31px;">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="background-color: #0a0a0a;color: #f8f5f5;margin: 5px;width: 232px;padding: -19px;">Configure Security&nbsp;</a>
                    <div class="dropdown-menu"
                         role="menu">
                        <a class="dropdown-item" role="presentation" href="#">User Profile</a><a class="dropdown-item" role="presentation" href="#">Manage Users</a><a class="dropdown-item" role="presentation" href="#">Manage Roles</a><a class="dropdown-item"
                                                                                                                                                                                                                                             role="presentation" href="#">Password Reset</a><a class="dropdown-item" role="presentation" href="#">Manage Rcopia Users</a><a class="dropdown-item" role="presentation" href="#">External Group User Assignment</a>
                    </div>
                </li>
                <li class="nav-item dropdown" style="margin: 13px;padding: -23px;">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="background-color: #0a0a0a;color: #f8f5f5;margin: -1px;width: 232px;padding: -14px;">Payers</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="#">Insurance Payer</a><a class="dropdown-item" role="presentation" href="#">Contract</a><a class="dropdown-item" role="presentation" href="#">Reimbursement</a><a class="dropdown-item"
                                                                                                                                                                                                                                             role="presentation" href="#">Rounding Rules</a><a class="dropdown-item" role="presentation" href="#">Sapn Billing Rules Set</a><a class="dropdown-item" role="presentation" href="#">Insurance Benefit Rule</a><a class="dropdown-item"
                                                                                                                                                                                                                                                                                                                                                                                                                                                               role="presentation" href="#">Bill to Address</a><a class="dropdown-item" role="presentation" href="#">Bed Configuration</a>
                    </div>
                </li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
            </ul>
            <div class="collapse navbar-collapse" id="navcol-1" style="padding: -18px;"></div>
        </div>
    </nav>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/Multi-Level-Navbar.js"></script>
    <script src="~/assets/js/Sidebar-Menu.js"></script>
    <script src="~/assets/js/Vertical-menu.js"></script>
    <script src="~/assets/js/Vertical-Navigation-with-double-sub-menu--scroll-enable-by-Jigar-Mistry.js"></script>
</body>
</html>